### Carbon Python Sample No.02 - Alphacodes Formats

This example shows the different formats of data that can be passed to the Carbon web service for conversion into a pandas dataframe.

In [4]:
import requests
import pandas as pd

### Examples of Input Lists

The input is 2 python lists, in any of the formats below;

- A list of strings eg. ["30", "64", "30"], ["SE", "SE", "NW"], [ "Female", "Male", "Male"]

- A list of integers eg. [30, 64, 30]

- A list of doubles eg. ["2.5", "4.25", "3.5"]

- A list of lists eg. [['Brand2', 'Brand4', 'Brand7'],
 ['Brand2', 'Brand4', 'Brand7'],
 ['Brand2', 'Brand6', 'Brand7', 'Brand8']]

- A list of tuples ( 'string' , double) eg. [('Brand 9', 2.5), ('Brand 4', 2.25), ('Brand 7', 2.99)]

- A list of lists of tuples [[('string' , double)]] eg. [[('seg 1', 1352), ('seg 2', 650), ('seg 3', 619)], [('seg 1', 767), ('seg 2', 669), ('seg 3', 671)]]

In [5]:
# Example data

agestr = ["30", "64", "30", "18", "30", "64", "30", "79", "64", "19"]
ageint = [30, 64, 30, 18, 30, 64, 30, 79, 64, 19]
region = ["SE", "SE", "NW", "NW", "SE", "NE", "SW", "NE", "SE", "NE"]
gender = [ "Female", "Male", "Male", "Male", "Male", "Female", "Female", "Male", "Male", "Female"]
pricedbl = [2.5, 4.25, 3.5, 2, 2, 3.75, 3.5, 4.5, 4.25, 4.2]
pricestr = ["2.5", "4.25", "3.5", "2", "2", "3.75", "3.5", "4.5", "4.25", "4.2"]

multicode = [['Brand2', 'Brand4', 'Brand7'],
 ['Brand2', 'Brand4', 'Brand7'],
 ['Brand2', 'Brand6', 'Brand7', 'Brand8'],
 ['Brand2', 'Brand10'],
 ['Brand1', 'Brand2', 'Brand4', 'Brand6'],
 ['Brand1', 'Brand4', 'Brand5', 'Brand6'],
 ['Brand1', 'Brand2', 'Brand4'],
 ['Brand1', 'Brand2', 'Brand3', 'Brand5', 'Brand7'],
 ['Brand1', 'Brand4', 'Brand6', 'Brand7'],
 ['Brand3', 'Brand5']]

singleinc = [('Brand 9', 2.5), ('Brand 4', 2.25), ('Brand 7', 2.99), ('Brand 5', 2.0), ('Brand 7', 2.0), 
('Brand 1', 7.5), ('Brand 4', 7.0), ('Brand 3', 9.0), ('Brand 3', 4.25), ('Brand 8', 8.4)]

multiinc=[[('seg 1', 1352), ('seg 2', 650), ('seg 3', 619)], [('seg 1', 767), ('seg 2', 669), ('seg 3', 671)], [('seg 1', 726), ('seg 2', 535), ('seg 3', 748)], [('seg 1', 776), ('seg 2', 1090), ('seg 3', 471)], [('seg 1', 664), ('seg 2', 473), ('seg 3', 687)], [('seg 1', 608), ('seg 2', 717), ('seg 3', 330)], [('seg 1', 549), ('seg 2', 655), ('seg 3', 468)], [('seg 1', 552), ('seg 2', 461), ('seg 3', 985)], [('seg 1', 646), ('seg 2', 452), ('seg 3', 665)], [('seg 1', 461), ('seg 2', 767), ('seg 3', 760)]]

Pairs of data lists can be passed through the web service to generate a pandas dataframe. Uncomment the different postdata lines to see the different responses.

In [6]:
postdata={"top": gender,"side": agestr, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": ageint, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": region, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": pricedbl, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": pricestr, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": multicode, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": singleinc, 'props':'Decimals.Frequencies=2'}
#postdata={"top": gender,"side": multiinc, 'props':'Decimals.Frequencies=2'}
#postdata={"top": multiinc,"side": multicode, 'props':'Decimals.Frequencies=2'}
#postdata={"top": multiinc,"side": multicode, 'props':'Decimals.Frequencies=2'}
#postdata={"top": multiinc,"side": pricedbl, 'props':'Decimals.Frequencies=2'}

response = requests.post('https://rcsapps.azurewebsites.net/carbon/python/crosstab/alphacodes', json=postdata)

crosstab = pd.DataFrame(response.json())
crosstab

   Female  Male
30   2.00  2.00
64   1.00  2.00
18   0.00  1.00
79   0.00  1.00
19   1.00  0.00